{% extends '__base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex">
                <div class="card" style="width: 75vh; height: 65vh">
                    <div class="card-body text-center">
                        <h1 class="confirmation-message">Change Password</h1>
                        <form method="post" class="form-control ">{% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                            {% for field in form %}
                                <div class="container" style="padding-bottom: 4vh">
                                    {{ field.label }} {{ field }}
                                    {% for error in field.errors %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <button type="submit"    class="btn btn-primary mt-3">Change</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}